@media only screen and (max-width: 960px) {
    #content-container {
        width: 100% !important;
        height: 100vh !important;
        margin: auto !important;
    }
}

body {
    transition: background-color .4s;
}

.datepicker, .input-group-text, .form-control, .custom-control-label, h2 {
    transition: background-color .4s, border-color .4s;
}

/* Dark mode */
.dark {
    background-color: #222;
    color: #eee;
}

body.dark .datepicker {
    background-color: #444 !important;
}

body.dark .input-group-text {
    color: #eee;
    background-color: #222;
    border-color: #555;
}

body.dark .form-control {
    color: #eee !important;
    border-color: #555 !important;
}

body.dark .custom-control-label::before {
    background-color: #444;
}

body.dark .modal-content {
    background-color: #222;
}

.modal-content {
    transition: background-color .4s;
}

.darkModeIcon {
    height: 28px;
    width: auto;
    display: none;
}

.darkModeIcon.sun {
    filter: invert(1);
}

.darkModeIcon.active {
    display: block;
}

/* Page layout */
#content-container {
    width: 95%;
    height: 95vh;
    margin: 2.5vh auto auto;
}

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#toolbar {
    display: flex;
    flex-direction: column;
    margin-top: 1.4em;
}

#darkModeToggle:hover {
    cursor: pointer;
}

#complete-chart-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#chart-container {
    position: relative;
    height: 100%;
}

#header {
    font-size: 3em;
}

.link-center {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input.datepicker {
    text-align: center;
    background-color: #fff !important;
}

.custom-control-label:hover {
    cursor: pointer;
}

.form-check {
    padding-left: 0;
}