@media only screen and (max-width: 960px) {
  #content-container {
    width: 100% !important;
    height: 100vh !important;
    margin: auto !important;
  }

  h2 {
    font-size: 1.2rem;
  }
}
.input-min-width {
  min-width: 400px;
}

.popover {
  max-width: 500px;
}

.share {
  cursor: pointer;
}

.modal-content {
  transition: background-color 0.4s;
}

.darkModeIcon {
  height: 28px;
  width: auto;
  display: none;
}

.darkModeIcon.sun {
  filter: invert(0.9);
}

.darkModeIcon.active {
  display: block;
}

/* Page layout */
#content-container {
  width: 97%;
  height: 97vh;
  margin: 1.5vh auto auto;
}

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.title.compare {
  display: flex;
  justify-content: space-between;
}

.title-right {
  font-size: 0.6rem;
}

#toolbar {
  display: flex;
  flex-direction: column;
  margin-top: 0.6em;
}

body.toolbar-side #toolbar {
  display: block;
  width: 251px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #eee;
  color: #000;
  transition: all 0.3s;
  margin-top: 0;
  padding: 0.5em;
  overflow-y: auto;
}
body.toolbar-side .form-group {
  margin-bottom: 0.5rem;
}
body.toolbar-side .toolbar-group {
  border-radius: 0.2em;
  border: 1px solid #aaa;
  background-color: #ececec;
  padding: 0.3em;
}
body.toolbar-side .popover {
  margin-left: 175px;
}
body.toolbar-side .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
body.toolbar-side #toolbar.active {
  margin-left: -250px;
}
body.toolbar-side #content {
  width: calc(100% - 250px);
  padding: 1.2em;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
body.toolbar-side #content.active {
  width: 100%;
}
body.toolbar-side #content-container {
  display: flex;
  width: 100%;
}

#darkModeToggle:hover {
  cursor: pointer;
}

#complete-chart-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

#chart-container {
  position: relative;
  height: 100%;
}

#header {
  font-size: 3em;
}

.link-center {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input.datepicker {
  text-align: center;
  background-color: #fff !important;
}

.custom-control-label:hover {
  cursor: pointer;
}

.form-check {
  padding-left: 0;
}

.loading {
  width: 0;
  opacity: 0;
  height: 0;
  background-image: url("../img/rolling.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.loading.center, .main-loading.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-loading {
  width: 0;
  height: 0;
  opacity: 0;
}

/* Dark mode */
.dark {
  background-color: #222;
  color: #eee;
}

/* Dark mode */
body.dark {
  /*
        /*rtl:begin:ignore*/
  /*
        /*rtl:end:ignore*/
  /*
        /*rtl:begin:ignore*/
  /*
        /*rtl:end:ignore*/
}
body.dark .custom-select, body.dark .datepicker {
  background-color: #2b2b2b !important;
  color: #eee !important;
  border-color: #555 !important;
}
body.dark .input-group-text {
  color: #eee;
  background-color: #424040;
  border-color: #555;
}
body.dark .form-control {
  background-color: #2b2b2b;
  color: #eee !important;
  border-color: #555 !important;
}
body.dark .form-control[readonly] {
  background-color: #444;
}
body.dark .text-muted {
  color: #a9a9a9 !important;
}
body.dark .custom-control-label::before {
  background-color: #2b2b2b;
}
body.dark .modal-content {
  background-color: #222;
}
body.dark .loading, body.dark .main-loading {
  filter: invert(0.85);
}
body.dark .popover {
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.1);
}
body.dark .popover .arrow::after {
  border-bottom-color: #222;
}
body.dark .popover-header::before {
  border-bottom-color: #222;
}
body.dark .popover-header {
  background-color: #222;
  color: #eee;
  border-bottom-color: #555;
}
body.dark .popover-body {
  background-color: #2b2b2b;
  color: #eee;
}
body.dark .toast {
  box-shadow: 0 0.25rem 0.75rem rgba(255, 255, 255, 0.1);
}
body.dark .toast-header {
  background-color: #222 !important;
  color: #eee !important;
}
body.dark .toast-body {
  background-color: #2b2b2b;
  color: #eee;
}
body.dark .share {
  filter: invert(0.9);
}
body.dark .custom-select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='rgb(200,200,200)' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
}
body.dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
body.dark #toolbar.side {
  background: #323232;
  color: #ccc;
}
body.dark .toolbar-group {
  border-color: #444;
  background-color: #292929;
}
body.dark .flatpickr-calendar {
  background: transparent;
  opacity: 0;
  display: none;
  text-align: center;
  visibility: hidden;
  padding: 0;
  -webkit-animation: none;
  animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  position: absolute;
  width: 307.875px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background: #222;
  -webkit-box-shadow: 1px 0 0 #20222c, -1px 0 0 #20222c, 0 1px 0 #20222c, 0 -1px 0 #20222c, 0 3px 13px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0 0 #20222c, -1px 0 0 #20222c, 0 1px 0 #20222c, 0 -1px 0 #20222c, 0 3px 13px rgba(0, 0, 0, 0.08);
}
body.dark .flatpickr-calendar.open,
body.dark .flatpickr-calendar.inline {
  opacity: 1;
  max-height: 640px;
  visibility: visible;
}
body.dark .flatpickr-calendar.open {
  display: inline-block;
  z-index: 99999;
}
body.dark .flatpickr-calendar.animate.open {
  -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
body.dark .flatpickr-calendar.inline {
  display: block;
  position: relative;
  top: 2px;
}
body.dark .flatpickr-calendar.static {
  position: absolute;
  top: calc(100% + 2px);
}
body.dark .flatpickr-calendar.static.open {
  z-index: 999;
  display: block;
}
body.dark .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
body.dark .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
  -webkit-box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
  box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
}
body.dark .flatpickr-calendar .hasWeeks .dayContainer,
body.dark .flatpickr-calendar .hasTime .dayContainer {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
body.dark .flatpickr-calendar .hasWeeks .dayContainer {
  border-left: 0;
}
body.dark .flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
  height: 40px;
  border-top: 1px solid #555;
}
body.dark .flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
  height: auto;
}
body.dark .flatpickr-calendar:before,
body.dark .flatpickr-calendar:after {
  position: absolute;
  display: block;
  pointer-events: none;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  left: 22px;
}
body.dark .flatpickr-calendar.rightMost:before,
body.dark .flatpickr-calendar.rightMost:after {
  left: auto;
  right: 22px;
}
body.dark .flatpickr-calendar:before {
  border-width: 5px;
  margin: 0 -5px;
}
body.dark .flatpickr-calendar:after {
  border-width: 4px;
  margin: 0 -4px;
}
body.dark .flatpickr-calendar.arrowTop:before,
body.dark .flatpickr-calendar.arrowTop:after {
  bottom: 100%;
}
body.dark .flatpickr-calendar.arrowTop:before {
  border-bottom-color: #20222c;
}
body.dark .flatpickr-calendar.arrowTop:after {
  border-bottom-color: #222;
}
body.dark .flatpickr-calendar.arrowBottom:before,
body.dark .flatpickr-calendar.arrowBottom:after {
  top: 100%;
}
body.dark .flatpickr-calendar.arrowBottom:before {
  border-top-color: #20222c;
}
body.dark .flatpickr-calendar.arrowBottom:after {
  border-top-color: #222;
}
body.dark .flatpickr-calendar:focus {
  outline: 0;
}
body.dark .flatpickr-wrapper {
  position: relative;
  display: inline-block;
}
body.dark .flatpickr-months {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
body.dark .flatpickr-months .flatpickr-month {
  background: #222;
  color: #fff;
  fill: #fff;
  height: 34px;
  line-height: 1;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
body.dark .flatpickr-months .flatpickr-prev-month,
body.dark .flatpickr-months .flatpickr-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 34px;
  padding: 10px;
  z-index: 3;
  color: #fff;
  fill: #fff;
}
body.dark .flatpickr-months .flatpickr-prev-month.flatpickr-disabled,
body.dark .flatpickr-months .flatpickr-next-month.flatpickr-disabled {
  display: none;
}
body.dark .flatpickr-months .flatpickr-prev-month i,
body.dark .flatpickr-months .flatpickr-next-month i {
  position: relative;
}
body.dark .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
body.dark .flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  /*
        /*rtl:begin:ignore*/
  /*
        */
  left: 0;
  /*
        /*rtl:end:ignore*/
  /*
        */
}
body.dark .flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
body.dark .flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  /*
        /*rtl:begin:ignore*/
  /*
        */
  right: 0;
  /*
        /*rtl:end:ignore*/
  /*
        */
}
body.dark .flatpickr-months .flatpickr-prev-month:hover,
body.dark .flatpickr-months .flatpickr-next-month:hover {
  color: #eee;
}
body.dark .flatpickr-months .flatpickr-prev-month:hover svg,
body.dark .flatpickr-months .flatpickr-next-month:hover svg {
  fill: #f64747;
}
body.dark .flatpickr-months .flatpickr-prev-month svg,
body.dark .flatpickr-months .flatpickr-next-month svg {
  width: 14px;
  height: 14px;
}
body.dark .flatpickr-months .flatpickr-prev-month svg path,
body.dark .flatpickr-months .flatpickr-next-month svg path {
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
  fill: inherit;
}
body.dark .numInputWrapper {
  position: relative;
  height: auto;
}
body.dark .numInputWrapper input,
body.dark .numInputWrapper span {
  display: inline-block;
}
body.dark .numInputWrapper input {
  width: 100%;
}
body.dark .numInputWrapper input::-ms-clear {
  display: none;
}
body.dark .numInputWrapper input::-webkit-outer-spin-button,
body.dark .numInputWrapper input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
body.dark .numInputWrapper span {
  position: absolute;
  right: 0;
  width: 14px;
  padding: 0 4px 0 2px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body.dark .numInputWrapper span:hover {
  background: rgba(192, 187, 167, 0.1);
}
body.dark .numInputWrapper span:active {
  background: rgba(192, 187, 167, 0.2);
}
body.dark .numInputWrapper span:after {
  display: block;
  content: "";
  position: absolute;
}
body.dark .numInputWrapper span.arrowUp {
  top: 0;
  border-bottom: 0;
}
body.dark .numInputWrapper span.arrowUp:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(255, 255, 255, 0.6);
  top: 26%;
}
body.dark .numInputWrapper span.arrowDown {
  top: 50%;
}
body.dark .numInputWrapper span.arrowDown:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(255, 255, 255, 0.6);
  top: 40%;
}
body.dark .numInputWrapper span svg {
  width: inherit;
  height: auto;
}
body.dark .numInputWrapper span svg path {
  fill: rgba(255, 255, 255, 0.5);
}
body.dark .numInputWrapper:hover {
  background: rgba(192, 187, 167, 0.05);
}
body.dark .numInputWrapper:hover span {
  opacity: 1;
}
body.dark .flatpickr-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  padding: 7.48px 0 0 0;
  line-height: 1;
  height: 34px;
  display: inline-block;
  text-align: center;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
body.dark .flatpickr-current-month span.cur-month {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  margin-left: 0.5ch;
  padding: 0;
}
body.dark .flatpickr-current-month span.cur-month:hover {
  background: rgba(192, 187, 167, 0.05);
}
body.dark .flatpickr-current-month .numInputWrapper {
  width: 6ch;
  width: 7ch\0 ;
  display: inline-block;
}
body.dark .flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: #fff;
}
body.dark .flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: #fff;
}
body.dark .flatpickr-current-month input.cur-year {
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: text;
  padding: 0 0 0 0.5ch;
  margin: 0;
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  line-height: inherit;
  height: auto;
  border: 0;
  border-radius: 0;
  vertical-align: initial;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
body.dark .flatpickr-current-month input.cur-year:focus {
  outline: 0;
}
body.dark .flatpickr-current-month input.cur-year[disabled],
body.dark .flatpickr-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  pointer-events: none;
}
body.dark .flatpickr-current-month .flatpickr-monthDropdown-months {
  appearance: menulist;
  background: #222;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  height: auto;
  line-height: inherit;
  margin: -1px 0 0 0;
  outline: none;
  padding: 0 0 0 0.5ch;
  position: relative;
  vertical-align: initial;
  -webkit-box-sizing: border-box;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  width: auto;
}
body.dark .flatpickr-current-month .flatpickr-monthDropdown-months:focus,
body.dark .flatpickr-current-month .flatpickr-monthDropdown-months:active {
  outline: none;
}
body.dark .flatpickr-current-month .flatpickr-monthDropdown-months:hover {
  background: rgba(192, 187, 167, 0.05);
}
body.dark .flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
  background-color: #2b2b2b;
  outline: none;
  padding: 0;
}
body.dark .flatpickr-weekdays {
  background: transparent;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 28px;
}
body.dark .flatpickr-weekdays .flatpickr-weekdaycontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
body.dark span.flatpickr-weekday {
  cursor: default;
  font-size: 90%;
  background: #222;
  color: #fff;
  line-height: 1;
  margin: 0;
  text-align: center;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: bolder;
}
body.dark .dayContainer,
body.dark .flatpickr-weeks {
  padding: 1px 0 0 0;
}
body.dark .flatpickr-days {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 307.875px;
}
body.dark .flatpickr-days:focus {
  outline: 0;
}
body.dark .dayContainer {
  padding: 0;
  outline: 0;
  text-align: left;
  width: 307.875px;
  min-width: 307.875px;
  max-width: 307.875px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}
body.dark .dayContainer + .dayContainer {
  -webkit-box-shadow: -1px 0 0 #20222c;
  box-shadow: -1px 0 0 #20222c;
}
body.dark .flatpickr-day {
  background: none;
  border: 1px solid transparent;
  border-radius: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
  font-weight: 400;
  width: 14.2857143%;
  -webkit-flex-basis: 14.2857143%;
  -ms-flex-preferred-size: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 39px;
  height: 39px;
  line-height: 39px;
  margin: 0;
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
body.dark .flatpickr-day.inRange,
body.dark .flatpickr-day.prevMonthDay.inRange,
body.dark .flatpickr-day.nextMonthDay.inRange,
body.dark .flatpickr-day.today.inRange,
body.dark .flatpickr-day.prevMonthDay.today.inRange,
body.dark .flatpickr-day.nextMonthDay.today.inRange,
body.dark .flatpickr-day:hover,
body.dark .flatpickr-day.prevMonthDay:hover,
body.dark .flatpickr-day.nextMonthDay:hover,
body.dark .flatpickr-day:focus,
body.dark .flatpickr-day.prevMonthDay:focus,
body.dark .flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: #007bff;
  border-color: #007bff;
}
body.dark .flatpickr-day.today {
  border-color: #eee;
}
body.dark .flatpickr-day.today:hover,
body.dark .flatpickr-day.today:focus {
  border-color: #007bff;
  background: #007bff;
  color: #eee;
}
body.dark .flatpickr-day.selected,
body.dark .flatpickr-day.startRange,
body.dark .flatpickr-day.endRange,
body.dark .flatpickr-day.selected.inRange,
body.dark .flatpickr-day.startRange.inRange,
body.dark .flatpickr-day.endRange.inRange,
body.dark .flatpickr-day.selected:focus,
body.dark .flatpickr-day.startRange:focus,
body.dark .flatpickr-day.endRange:focus,
body.dark .flatpickr-day.selected:hover,
body.dark .flatpickr-day.startRange:hover,
body.dark .flatpickr-day.endRange:hover,
body.dark .flatpickr-day.selected.prevMonthDay,
body.dark .flatpickr-day.startRange.prevMonthDay,
body.dark .flatpickr-day.endRange.prevMonthDay,
body.dark .flatpickr-day.selected.nextMonthDay,
body.dark .flatpickr-day.startRange.nextMonthDay,
body.dark .flatpickr-day.endRange.nextMonthDay {
  background: #004f9d;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border-color: #004f9d;
}
body.dark .flatpickr-day.selected.startRange,
body.dark .flatpickr-day.startRange.startRange,
body.dark .flatpickr-day.endRange.startRange {
  border-radius: 50px 0 0 50px;
}
body.dark .flatpickr-day.selected.endRange,
body.dark .flatpickr-day.startRange.endRange,
body.dark .flatpickr-day.endRange.endRange {
  border-radius: 0 50px 50px 0;
}
body.dark .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
body.dark .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
body.dark .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: -10px 0 0 #80cbc4;
  box-shadow: -10px 0 0 #80cbc4;
}
body.dark .flatpickr-day.selected.startRange.endRange,
body.dark .flatpickr-day.startRange.startRange.endRange,
body.dark .flatpickr-day.endRange.startRange.endRange {
  border-radius: 50px;
}
body.dark .flatpickr-day.inRange {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #646c8c, 5px 0 0 #646c8c;
  box-shadow: -5px 0 0 #646c8c, 5px 0 0 #646c8c;
}
body.dark .flatpickr-day.flatpickr-disabled,
body.dark .flatpickr-day.flatpickr-disabled:hover,
body.dark .flatpickr-day.prevMonthDay,
body.dark .flatpickr-day.nextMonthDay,
body.dark .flatpickr-day.notAllowed,
body.dark .flatpickr-day.notAllowed.prevMonthDay,
body.dark .flatpickr-day.notAllowed.nextMonthDay {
  color: rgba(255, 255, 255, 0.3);
  background: transparent;
  border-color: transparent;
  cursor: default;
}
body.dark .flatpickr-day.flatpickr-disabled,
body.dark .flatpickr-day.flatpickr-disabled:hover {
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.1);
}
body.dark .flatpickr-day.week.selected {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #80cbc4, 5px 0 0 #80cbc4;
  box-shadow: -5px 0 0 #80cbc4, 5px 0 0 #80cbc4;
}
body.dark .flatpickr-day.hidden {
  visibility: hidden;
}
body.dark .rangeMode .flatpickr-day {
  margin-top: 1px;
}
body.dark .flatpickr-weekwrapper {
  float: left;
}
body.dark .flatpickr-weekwrapper .flatpickr-weeks {
  padding: 0 12px;
  -webkit-box-shadow: 1px 0 0 #20222c;
  box-shadow: 1px 0 0 #20222c;
}
body.dark .flatpickr-weekwrapper .flatpickr-weekday {
  float: none;
  width: 100%;
  line-height: 28px;
}
body.dark .flatpickr-weekwrapper span.flatpickr-day,
body.dark .flatpickr-weekwrapper span.flatpickr-day:hover {
  display: block;
  width: 100%;
  max-width: none;
  color: rgba(255, 255, 255, 0.3);
  background: transparent;
  cursor: default;
  border: none;
}
body.dark .flatpickr-innerContainer {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
body.dark .flatpickr-rContainer {
  display: inline-block;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body.dark .flatpickr-time {
  text-align: center;
  outline: 0;
  display: block;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
body.dark .flatpickr-time:after {
  content: "";
  display: table;
  clear: both;
}
body.dark .flatpickr-time .numInputWrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 40%;
  height: 40px;
  float: left;
}
body.dark .flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: rgba(255, 255, 255, 0.95);
}
body.dark .flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: rgba(255, 255, 255, 0.95);
}
body.dark .flatpickr-time.hasSeconds .numInputWrapper {
  width: 26%;
}
body.dark .flatpickr-time.time24hr .numInputWrapper {
  width: 49%;
}
body.dark .flatpickr-time input {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  color: rgba(255, 255, 255, 0.95);
  font-size: 14px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
body.dark .flatpickr-time input.flatpickr-hour {
  font-weight: bold;
}
body.dark .flatpickr-time input.flatpickr-minute,
body.dark .flatpickr-time input.flatpickr-second {
  font-weight: 400;
}
body.dark .flatpickr-time input:focus {
  outline: 0;
  border: 0;
}
body.dark .flatpickr-time .flatpickr-time-separator,
body.dark .flatpickr-time .flatpickr-am-pm {
  height: inherit;
  float: left;
  line-height: inherit;
  color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  width: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
body.dark .flatpickr-time .flatpickr-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
}
body.dark .flatpickr-time input:hover,
body.dark .flatpickr-time .flatpickr-am-pm:hover,
body.dark .flatpickr-time input:focus,
body.dark .flatpickr-time .flatpickr-am-pm:focus {
  background: #555;
}
body.dark .flatpickr-input[readonly] {
  cursor: pointer;
}
@-webkit-keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/*# sourceMappingURL=custom.css.map */
