#chart-container {
    position: relative;
    width: 100%;
    top: 0;
    bottom: 0;
}

input.datepicker {
    text-align: center;
    background-color: #fff !important;
}

.font {
    font-size: 1.2em;
}

.vert-middle {
    vertical-align: middle;
}

.outline {
    margin-left: .6em;
    padding: .25em;
    border-radius: .6em;
    /*box-shadow: .2em .2em .5em rgba(0, 0, 0, .2);*/
    border: 1px solid rgba(0,0,0,.2);
}

#content {
    margin: auto;
    width: 80%;
    height: 80%;
}

#toolbar {
    margin-top: 1.4em;
}

#complete-chart-container {
    height: 100%;
    margin: auto;
    display: flex;
}

#header {
    font-size: 3em;
}